home-description = look up chips for mega man battle network
home-different-language = chiplibraryは<a href="{$base_url}/index.ja.html">日本語</a>でも利用できます。
home-game-entry = <a href="{$url}">{$game_name}</a> (<a href="{$by_code_url}">by code</a>, <a href="{$by_element_url}">by element</a>)
home-bugtracker-info = found incorrect info? <a href="https://gitlab.com/bntools/chiplibrary/issues" target="_blank">let me know!</a>
home-credits-title = credits
home-credits-body =
    <ul>
        <li><a href="https://github.com/chrisrsantiago/chiplibrary-data" target="_blank">github.com/chrisrsantiago/chiplibrary-data</a>: most of the original data</li>
        <li><a href="https://github.com/Prof9/TextPet" target="_blank">github.com/Prof9/TextPet</a>: text extraction tool for the games</li>
        <li><a href="https://www.sprites-inc.co.uk" target="_blank">sprites-inc.co.uk</a>: mmbn1 chip icons</li>
        <li><a href="https://megaman.fandom.com" target="_blank">megaman.fandom.com</a>: miscellanous</li>
    </ul>

game-view-by-hint = you can also view <a href="{$by_code_url}">by code</a> or <a href="{$by_element_url}">by element</a>.

lang-self = en

chips-title = chips in {$game_name}
chips-by-code-title = chips by code in {$game_name}
chips-by-element-title = chips by element in {$game_name}

chip-class-standard = standard
chip-class-mega = mega
chip-class-giga = giga
chip-class-secret = secret
chip-class-dark = dark
chip-class-special = special
chip-class-capsule = capsule
chip-pa = program advance

chip-element-null = null
chip-element-fire = fire
chip-element-aqua = aqua
chip-element-elec = elec
chip-element-wood = wood
chip-element-sword = sword
chip-element-wind = wind
chip-element-cursor = cursor
chip-element-break = break
chip-element-terrain = terrain
chip-element-obstacle = obstacle
chip-element-recovery = recovery
chip-element-invisible = invisible
chip-element-plus = plus

back-to-top = ↑ back to top
